.card-container {
    display: flex;
    flex-direction: column;
    color: inherit;
    text-decoration: inherit;
    height: 100%;
    width: 100%;
    overflow: hidden;
    word-break: break-word;
    

    &__figure {
        margin: 0;
        height: 50%;
        background-color: lightgray;

        &__img{
            width: 60%;
        }
        
    }
    &__descriptionbox {
        background-color: white;
        padding: 1rem;
        height: 50%;
        font-size: 2rem;

    
    }
    border: 2px solid gray;


    &__name{
        font-size: 2rem;
        font-weight: bold;
    }
    .types__block, .abilities__block{
        &__title{
            font-weight: bold;
        }
        &__txt{
            margin-right: 0.5rem;
        }
    }
    &:hover {
        animation: tilt-shaking 0.25s infinite;
      }
}
@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }